# TABELAS VERDADE

In [ ]:
# TABELA DO AND (com 2 booleanos)
print(" x     | y     | x and y ")
print("-------------------------")
print(" True  | True  |", True and True )
print(" True  | False |", True and False )
print(" False | True  |", False and True)
print(" False | False |", False and False)

In [ ]:
# TABELA DO AND (com 3 booleanos)
print(" x     | y     | z     |  x and y and z ")
print("----------------------------------------")
print(" True  | True  | True  |",True and True and True)
print(" True  | True  | False |",True and True and False)
print(" True  | False | True  |",True and False and True)
print(" True  | False | False |",True and False and False)
print(" False | True  | True  |",False and True and True)
print(" False | True  | False |",False and True and False)
print(" False | False | True  |",False and False and True)
print(" False | False | False |",False and False and False)

In [ ]:
# TABELA DO OR
print(" x     | y     | x or y ")
print("-------------------------")
print(" True  | True  |",True or True )
print(" True  | False |",True or False )
print(" False | True  |",False or True)
print(" False | False |",False or False)

In [ ]:
# TABELA DO XOR (EXCLUSIVE OR)
print(" x     | y     | x ^ y ")
print("-------------------------")
print(" True  | True  |",True ^ True )
print(" True  | False |",True ^ False )
print(" False | True  |",False ^ True)
print(" False | False |",False ^ False)

In [ ]:
# TABELA DO NOT
print(" x     | not(x) ")
print("----------------")
print(" True  |",not(True))
print(" False |",not(False))

In [6]:
dic = {"MG": "Minas Gerais", "SP":"S達o Paulo", "AC":"Acre", "MA":"Maranh達o"}
regioes = ["SE", "SE", "NO", "NE"]
estados = list(zip(dic, dic.values(), regioes))

In [7]:
estados

[('MG', 'Minas Gerais', 'SE'),
 ('SP', 'S達o Paulo', 'SE'),
 ('AC', 'Acre', 'NO'),
 ('MA', 'Maranh達o', 'NE')]

In [13]:
numeros = [n for n in range(1, 16)]
print(numeros)
numeros_fil = list(filter(lambda x: x%3 ==0, numeros))
print(numeros_fil)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[3, 6, 9, 12, 15]

In [16]:
bissextos = list(filter(lambda ano: (ano % 400 == 0) or (ano % 4 == 0 and ano % 100 != 0), range(1900, 2021, 4))) 
bissextos

[1904,
 1908,
 1912,
 1916,
 1920,
 1924,
 1928,
 1932,
 1936,
 1940,
 1944,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016,
 2020]