# Módulo 2 - Linguagem Python aplicada a Engenharia de Dados
## Objetivos de Ensino

Exercitar os seguintes conceitos trabalhados no Módulo:
1. Tipos do Python;
2. Variáveis e funções;
3. Condicionais;
4. Loops.

## Enunciado

Neste trabalho prático utilizaremos o dataset presente no link a seguir:
https://www.kaggle.com/datasets/ramjasmaurya/1-gb-internet-price.
Baixe o dataset antes de prosseguir.

As atividades a seguir buscam exercitar os conceitos que foram apresentados no módulo
a partir do cumprimento de objetivos práticos. Não existe uma forma única de resolver
as atividades, mas ao buscar realizá-las, os conceitos serão automaticamente
trabalhados.

### Criando uma função para converter país em continente, a partir do arquivo de usuários:

Arquivo de Usuários: 'worldwide internet users - users.csv';

#### 1. Abra o arquivo de usuários usando pandas;

Dica:
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html.

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("data/worldwide internet users - users.csv")

In [3]:
dataset.tail(5)

,Country or area,Subregion,Region,Internet users,Population
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,"2,906","6,035"
210,Falkland Islands,South America,Americas,"2,881","3,234"
211,Montserrat,Caribbean,Americas,"2,833","4,993"
212,Wallis and Futuna,Polynesia,Oceania,"1,383","11,661"
213,Niue,Polynesia,Oceania,"1,034","1,620"

#### 2. Crie um dicionário chamado “mapeamento_continente”;

In [4]:
mapeamento_continente = {}

In [5]:
type(mapeamento_continente)

dict

#### 3. Crie uma função "mapear"

O método recebe um pandas DataFrame e o nome de duas colunas desse
dataframe (Uma representa o país, outro o continente). Ele percorre duas colunas
em conjunto, inserindo 'mapeamento_continente' uma chave para cada país, com
valor sendo o continente;

Dicas:
* https://docs.python.org/3.3/library/functions.html#zip     
* https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html.

In [6]:
list_map = dataset[['Country or area', 'Region']].values.tolist()

In [7]:
mapeamento_continente = dict(map(lambda x: (x[0], x[1]), list_map))

In [8]:
"""Trazendo um valor através de uma chave"""
print(mapeamento_continente.get('China'))

Asia

In [9]:
"""Exibindo os 10 primeiros items"""

dict(list(mapeamento_continente.items())[:10])

{'China': 'Asia',
 'India': 'Asia',
 'United States': 'Americas',
 'Indonesia': 'Asia',
 'Brazil': 'Americas',
 'Nigeria': 'Africa',
 'Bangladesh': 'Asia',
 'Russia': 'Europe',
 'Pakistan': 'Asia',
 'Japan': 'Asia'}

#### 4. Crie uma função 'retorna_continente':

* Que retorna o continente a partir do nome do país, recebido como um parâmetro;
* Que use o dicionário 'mapeamento_continente';
*  Que use o bloco try/except para lidar com países que não existam dentro do dicionário de mapeamento. Nesses casos, o método deve retornar None e printar a mensagem "Não existe esse país em nossa base".

In [10]:
def retorna_continente(pais):
    try:
        x = mapeamento_continente.get(pais)
    except:
        x = None
        print('Não existe esse país em nossa base')
    return x

In [11]:
print(retorna_continente('Brazil'))

Americas

### Adicionando a informação de continente na tabela de velocidades, a partir do mapeamento do arquivo de usuários;

Arquivo de velocidades: 'worldwide internet speed in 2022 - avg speed.csv'.

#### 1. Abra o arquivo de velocidades usando pandas;

 Armazene em uma variável do tipo Pandas Dataframe.

#### 2. Adicione uma nova coluna 'Continente' ao DataFrame

Use a função 'mapa_pais_Continente'.

Dicas:
* https://stackoverflow.com/questions/33518124/how-toapply-a-function-on-every-row-on-a-dataframe
* https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.DataFrame.apply.html
* https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.htmlb

### Trabalhando com os dados de usuários de Internet;

Voltando ao arquivo de Usuários: 'worldwide internet users - users.csv'.

#### 1. Abra o arquivo de usuários de internet novamente

Dica:
* https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

#### 2. Crie novas colunas do tipo 'int' para as colunas 'Population' e 'Internet users';

Dicas:
* Existem valores faltantes na base, sendo necessário filtrar antes de fazer a criação das novas colunas.