# Módulo 2 - Linguagem Python aplicada a Engenharia de Dados
## Objetivos de Ensino

Exercitar os seguintes conceitos trabalhados no Módulo:
1. Tipos do Python;
2. Variáveis e funções;
3. Condicionais;
4. Loops.

## Enunciado

Neste trabalho prático utilizaremos o dataset presente no link a seguir:
https://www.kaggle.com/datasets/ramjasmaurya/1-gb-internet-price.
Baixe o dataset antes de prosseguir.

As atividades a seguir buscam exercitar os conceitos que foram apresentados no módulo
a partir do cumprimento de objetivos práticos. Não existe uma forma única de resolver
as atividades, mas ao buscar realizá-las, os conceitos serão automaticamente
trabalhados.

### Criando uma função para converter país em continente, a partir do arquivo de usuários:

Arquivo de Usuários: 'worldwide internet users - users.csv';

#### 1. Abra o arquivo de usuários usando pandas;

Dica:
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html.

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("data/worldwide internet users - users.csv")

In [3]:
dataset.tail(5)

,Country or area,Subregion,Region,Internet users,Population
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,"2,906","6,035"
210,Falkland Islands,South America,Americas,"2,881","3,234"
211,Montserrat,Caribbean,Americas,"2,833","4,993"
212,Wallis and Futuna,Polynesia,Oceania,"1,383","11,661"
213,Niue,Polynesia,Oceania,"1,034","1,620"

#### 2. Crie um dicionário chamado “mapeamento_continente”;

In [4]:
mapeamento_continente = {}

In [5]:
type(mapeamento_continente)

dict

#### 3. Crie uma função "mapear"

O método recebe um pandas DataFrame e o nome de duas colunas desse
dataframe (Uma representa o país, outro o continente). Ele percorre duas colunas
em conjunto, inserindo 'mapeamento_continente' uma chave para cada país, com
valor sendo o continente;

Dicas:
* https://docs.python.org/3.3/library/functions.html#zip     
* https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html.

In [6]:
list_map = dataset[['Country or area', 'Region']].values.tolist()

In [7]:
mapeamento_continente = dict(map(lambda x: (x[0], x[1]), list_map))

In [8]:
"""Trazendo um valor através de uma chave"""
print(mapeamento_continente.get('China'))

Asia

In [9]:
"""Exibindo os 10 primeiros items"""

dict(list(mapeamento_continente.items())[:10])

{'China': 'Asia',
 'India': 'Asia',
 'United States': 'Americas',
 'Indonesia': 'Asia',
 'Brazil': 'Americas',
 'Nigeria': 'Africa',
 'Bangladesh': 'Asia',
 'Russia': 'Europe',
 'Pakistan': 'Asia',
 'Japan': 'Asia'}

#### 4. Crie uma função 'retorna_continente':

* Que retorna o continente a partir do nome do país, recebido como um parâmetro;
* Que use o dicionário 'mapeamento_continente';
*  Que use o bloco try/except para lidar com países que não existam dentro do dicionário de mapeamento. Nesses casos, o método deve retornar None e printar a mensagem "Não existe esse país em nossa base".

In [10]:
def retorna_continente(pais):
    try:
        x = mapeamento_continente[pais]
    except:
        x = None
        print('Não existe esse país em nossa base')
    return x

In [11]:
retorna_continente('Brazil')

'Americas'

In [12]:
retorna_continente('Congo')

'Africa'

In [13]:
print(retorna_continente('Banana'))

Não existe esse país em nossa base
None

In [14]:
lista = ['Brazil', 'Israel', 'China', 'Kyrgyzstan', 'Australia']

for i in lista:
    print(retorna_continente(i))

Americas
Asia
Asia
Asia
Oceania

In [15]:
lista = ['Hong Kong', 'Puerto Rico', 'Ivory Coast', 'Macau, Kosovo', 'DR Congo', 'Palestine']

for i in lista:
    print(retorna_continente(i))

Não existe esse país em nossa base
None
Não existe esse país em nossa base
None
Não existe esse país em nossa base
None
Não existe esse país em nossa base
None
Não existe esse país em nossa base
None
Asia

### Adicionando a informação de continente na tabela de velocidades, a partir do mapeamento do arquivo de usuários;

Arquivo de velocidades: 'worldwide internet speed in 2022 - avg speed.csv'.

#### 1. Abra o arquivo de velocidades usando pandas;

 Armazene em uma variável do tipo Pandas Dataframe.

In [16]:
speed = pd.read_csv("data/worldwide internet speed in 2022  - avg speed.csv")

In [17]:
speed.head(5)

       Country  Avg \n(Mbit/s)Ookla
0       Canada                75.18
1  South Korea               117.95
2  Netherlands               108.33
3        Japan                44.05
4       Norway               134.73

#### 2. Adicione uma nova coluna 'Continente' ao DataFrame

Use a função 'mapa_pais_Continente'.

Dicas:
* https://stackoverflow.com/questions/33518124/how-toapply-a-function-on-every-row-on-a-dataframe
* https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.DataFrame.apply.html
* https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.htmlb

In [18]:
speed['Region'] = speed.apply(lambda row: retorna_continente(row['Country']), axis=1)

Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base

In [19]:
speed

         Country  Avg \n(Mbit/s)Ookla    Region
0         Canada                75.18  Americas
1    South Korea               117.95      Asia
2    Netherlands               108.33    Europe
3          Japan                44.05      Asia
4         Norway               134.73    Europe
..           ...                  ...       ...
139        Sudan                 9.50    Africa
140         Cuba                 9.10  Americas
141   Tajikistan                 7.05      Asia
142    Venezuela                 5.68  Americas
143    Palestine                 4.89      Asia

[144 rows x 3 columns]

In [20]:
speed['Region'].unique()

array(['Americas', 'Asia', 'Europe', 'Oceania', None, 'Africa'],
      dtype=object)

In [21]:
"""Busca dos paises que não possuem continente cadastrado"""
speed[(speed['Region'].isnull())]

         Country  Avg \n(Mbit/s)Ookla Region
36     Hong Kong                47.34   None
47   Puerto Rico                  NaN   None
90   Ivory Coast                 9.92   None
106        Macau                50.16   None
118       Kosovo                24.63   None
136     DR Congo                12.08   None

In [22]:
speed['Avg \n(Mbit/s)Ookla'].dropna().mean()

36.36727272727273

In [23]:
speed.dropna().groupby(['Region'])['Avg \n(Mbit/s)Ookla'].median()

Region
Africa      17.95
Americas    20.67
Asia        24.06
Europe      49.66
Oceania     49.49
Name: Avg \n(Mbit/s)Ookla, dtype: float64

In [24]:
speed_europe = speed.dropna().loc[speed['Region']=='Europe']

In [25]:
speed_europe.loc[speed_europe['Avg \n(Mbit/s)Ookla'] > 49.66].sort_values(by=['Avg \n(Mbit/s)Ookla'], ascending=True).head(1)

      Country  Avg \n(Mbit/s)Ookla  Region
13  Lithuania                50.13  Europe

### Trabalhando com os dados de usuários de Internet;

Voltando ao arquivo de Usuários: 'worldwide internet users - users.csv'.

#### 1. Abra o arquivo de usuários de internet novamente

Dica:
* https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [26]:
users = pd.read_csv("data/worldwide internet users - users.csv")

#### 2. Crie novas colunas do tipo 'int' para as colunas 'Population' e 'Internet users';

Dicas:
* Existem valores faltantes na base, sendo necessário filtrar antes de fazer a criação das novas colunas.

In [27]:
users_clean = users.dropna()

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
users_clean['Internet users'] = users_clean['Internet users'].str.replace(',', '').astype(int)
users_clean['Population'] = users_clean['Population'].str.replace(',', '').astype(int)

In [30]:
users_clean

,Country or area,Subregion,Region,Internet users,Population
0,China,Eastern Asia,Asia,1010740000,1427647786
1,India,Southern Asia,Asia,833710000,1352642280
2,United States,Northern America,Americas,312320000,327096265
3,Indonesia,South-eastern Asia,Asia,196000000,267670543
4,Brazil,South America,Americas,160010801,209469323
...,...,...,...,...,...
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,2906,6035
210,Falkland Islands,South America,Americas,2881,3234
211,Montserrat,Caribbean,Americas,2833,4993
212,Wallis and Futuna,Polynesia,Oceania,1383,11661
213,Niue,Polynesia,Oceania,1034,1620

In [31]:
users

,Country or area,Subregion,Region,Internet users,Population
0,China,Eastern Asia,Asia,"1,010,740,000","1,427,647,786"
1,India,Southern Asia,Asia,"833,710,000","1,352,642,280"
2,United States,Northern America,Americas,"312,320,000","327,096,265"
3,Indonesia,South-eastern Asia,Asia,"196,000,000","267,670,543"
4,Brazil,South America,Americas,"160,010,801","209,469,323"
...,...,...,...,...,...
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,"2,906","6,035"
210,Falkland Islands,South America,Americas,"2,881","3,234"
211,Montserrat,Caribbean,Americas,"2,833","4,993"
212,Wallis and Futuna,Polynesia,Oceania,"1,383","11,661"
213,Niue,Polynesia,Oceania,"1,034","1,620"

In [32]:
users_clean.sort_values(by=['Internet users'], ascending=False).head(1)

  Country or area     Subregion Region  Internet users  Population
0           China  Eastern Asia   Asia      1010740000  1427647786

In [33]:
users_clean.sort_values(by=['Population'], ascending=False).head(1)

  Country or area     Subregion Region  Internet users  Population
0           China  Eastern Asia   Asia      1010740000  1427647786

In [34]:
users.loc[users['Country or area'].isin(['Jersey', 'Palestine'])]

    Country or area        Subregion  Region Internet users Population
98        Palestine     Western Asia    Asia      3,208,312        NaN
197          Jersey  Northern Europe  Europe         38,958        NaN

In [35]:
users_clean.sort_values(by=['Internet users']).head(3)

       Country or area  Subregion    Region  Internet users  Population
213               Niue  Polynesia   Oceania            1034        1620
212  Wallis and Futuna  Polynesia   Oceania            1383       11661
211         Montserrat  Caribbean  Americas            2833        4993

In [36]:
users_clean['Proporção'] = users_clean.dropna()['Internet users']/users_clean.dropna()['Population']

In [37]:
users_clean['Proporção'].mean()

0.5769808132214845

In [38]:
users_clean['Proporção'].std()

0.2859591920439063

In [39]:
users_clean.dropna()['Internet users'].sum()/users_clean.dropna()['Population'].sum()

0.652577812025155

In [40]:
users_region = pd.DataFrame(users_clean.dropna().groupby(['Region'])['Internet users'].sum())

In [41]:
users_region['Population'] = users_clean.dropna().groupby(['Region'])['Population'].sum()

In [42]:
users_region['Proporção'] = users_region['Internet users']/users_region['Population']

In [43]:
users_region['Desvio Padrão'] = users_clean.dropna().groupby(['Region'])['Internet users'].std()

In [44]:
users_region

          Internet users  Population  Proporção  Desvio Padrão
Region
Africa         454544709  1274211524   0.356726   2.029732e+07
Americas       779914800  1007904873   0.773798   5.278599e+07
Asia          2989569687  4454369227   0.671154   1.867243e+08
Europe         712027666   828504151   0.859414   2.616988e+07
Oceania         27718529    41421751   0.669178   4.997015e+06

In [45]:
users.loc[users['Region']=='Europe'].sort_values(by=['Internet users'], ascending=True).head(1)

    Country or area        Subregion  Region Internet users Population
132         Estonia  Northern Europe  Europe      1,153,786  1,322,920

In [46]:
users.loc[users['Region']=='Africa'].sort_values(by=['Internet users'], ascending=False).head(1)

    Country or area      Subregion  Region Internet users  Population
137            Chad  Middle Africa  Africa        968,500  15,477,729

In [47]:
users_clean.loc[users_clean['Proporção'] >= 0.9]

,Country or area,Subregion,Region,Internet users,Population,Proporção
2,United States,Northern America,Americas,312320000,327096265,0.954826
9,Japan,Eastern Asia,Asia,117400000,127202192,0.922940
11,Iran,Western Asia,Asia,78086663,81800188,0.954602
12,Germany,Western Europe,Europe,77794405,83124418,0.935879
16,United Kingdom,Northern Europe,Europe,65001016,67141684,0.968117
17,France,Western Europe,Europe,59470000,64990511,0.915057
19,South Korea,Eastern Asia,Asia,49421084,51171706,0.965789
20,Spain,Southern Europe,Europe,42400756,46692858,0.908078
23,Poland,Eastern Europe,Europe,34697848,37921592,0.914989
24,Canada,Northern America,Americas,33950632,37064562,0.915986
33,Taiwan,Eastern Asia,Asia,21920626,23726460,0.923889
40,Netherlands,Western Europe,Europe,15877494,17059560,0.930709
50,Sweden,Northern Europe,Europe,9554907,9971638,0.958208
53,United Arab Emirates,Western Asia,Asia,8913217,9630959,0.925476
56,Switzerland,Western Europe,Europe,7942864,8525611,0.931647
78,Denmark,Northern Europe,Europe,5407278,5752126,0.940049
80,Norway,Northern Europe,Europe,5120225,5337962,0.959210
90,New Zealand,"Australia, New Zealand",Oceania,4273353,4743131,0.900956
94,Kuwait,Western Asia,Asia,4053797,4137312,0.979814
106,Qatar,Western Asia,Asia,2532059,2781682,0.910262
127,Bahrain,Western Asia,Asia,1431090,1569446,0.911844
148,Luxembourg,Western Europe,Europe,570794,604245,0.944640
156,Brunei,South-eastern Asia,Asia,406705,428963,0.948112
163,Iceland,Northern Europe,Europe,329196,336713,0.977675
175,Aruba (Netherlands),Caribbean,Americas,102285,105845,0.966366
178,Andorra,Southern Europe,Europe,76095,77006,0.988170
189,Bermuda,Northern America,Americas,60349,62756,0.961645
193,Faroe Islands,Northern Europe,Europe,48097,48497,0.991752
198,Monaco,Western Europe,Europe,37553,38682,0.970813
200,Liechtenstein,Western Europe,Europe,37201,37910,0.981298
201,Gibraltar,Southern Europe,Europe,32494,33718,0.963699

In [48]:
users_clean.loc[users_clean['Proporção'] <= 0.1]

,Country or area,Subregion,Region,Internet users,Population,Proporção
65,Democratic Republic of the Congo,Middle Africa,Africa,7011507,84068091,0.083403
107,Madagascar,Eastern Africa,Africa,2505948,26262313,0.095420
115,Niger,Western Africa,Africa,2194985,22442831,0.097803
135,South Sudan,Eastern Africa,Africa,1003542,10975927,0.091431
137,Chad,Middle Africa,Africa,968500,15477729,0.062574
147,Burundi,Eastern Africa,Africa,607311,11175374,0.054344
151,Congo,Middle Africa,Africa,455055,5244359,0.086770
158,Liberia,Western Africa,Africa,377607,4818973,0.078358
165,Somalia,Eastern Africa,Africa,294851,15008226,0.019646
172,Central African Republic,Middle Africa,Africa,202204,4666368,0.043332
179,Guinea-Bissau,Western Africa,Africa,73148,1874303,0.039027
183,Comoros,Eastern Africa,Africa,69020,832322,0.082925
185,Eritrea,Eastern Africa,Africa,66402,3452786,0.019231